.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
}
.navigation-links1-navlink {
  color: #ffffff;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  color: #ffffff;
  display: none;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}































.navigation-links1-root-class-name31 {
  display: none;
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
